<tr>
    <td>
        <%= command.name %>
    </td>
    <td>
        <%= command.description %>
    </td>
    <td>
        <%= command.usage %>
    </td>
    <% if (admin) { %>
        <td>
            <input type="checkbox" <%=command.admin ? 'checked' : '' %> readonly />
        </td>
        <% } %>
    <td>
        <%= command.aliases.join(', ')%>
    </td>
</tr>